.auto_complete { width: 100%; background: #fff; }
.auto_complete ul { width: 100%; margin: 0; padding: 0; list-style-type: none; border: 1px solid #bbb; }
.auto_complete ul li {
  position: relative; z-index: 5;
  margin: 0;
  padding: 3px;
  border-bottom: 1px solid #eee;
  list-style-type: none;
  font-size: 100%;
  background: #fff;
  width: auto;
  float: none;
}
.auto_complete ul .selected { background: #e5e2d9; font-weight: bold; }
.auto_complete ul .highlight { margin: 0; padding: 0; color: #800; }
img.auto_complete_indicator { padding-left: 10px; }